body{
	background-color: #DCDCDC;
}

h1, h4{
	text-align: center;
	color: ;
	font-family: arial;
	margin: 18px;
}

#mapcontainer{
	width: 68%;
  	height: 500px;
  	display: inline-block;
  	float: right;
  	z-index: 2;
}

#legend{
	position: relative;
	bottom: -510px;
	right: -10px;
}

#sidebar{
	height: 460px;
	display: inline-block;
	float: left;
	width: 30%;
	padding: 20px 5px 0px 30px;
	z-index: -1;
	background: #DCDCDC;
	text-align: justify;
}

